body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #c2e9fb, #e0c3fc);
}

.box {
  width: 350px;
  padding: 25px;
  background: rgba(255,255,255,0.7);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

h2 {
  color: #004d61;
}

input {
  width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 10px 0;
}

.btn {
  width: 95%;
  padding: 12px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(1.03);
}

.link {
  margin-top: 10px;
  font-size: 0.9em;
}

a {
  color: #004d61;
  text-decoration: none;
}

