body {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #c2e9fb, #e0c3fc);
}

.box {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.box input, .box select, .box textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #6a11cb;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.link a {
  color: #6a11cb;
  text-decoration: none;
}

