body {
  font-family: Poppins, sans-serif;
  background: #dfe8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 330px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #0002;
}

.box h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #aaa;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #5a62ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #4b52e0;
}

#strength {
  font-size: 14px;
  margin-bottom: 5px;
}
